.app {
  display: flex;
  flex-direction: column;
  background-image: url("../../public/nasa-photo-earth.jpeg");
  background-size: cover;
  background-position: center center;
}

.nasa-logo {
  margin: auto;
  height: 300px;
  width: 500px;
}

@media screen and (max-width: 767px) {
  .app {
    flex-direction: column;
  }
}
